body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

main {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.option{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.option a{
  text-decoration: none;
  color: rgb(172 176 179 / 71%);
  font-size: 0.7rem;
}

.option a:hover{
  color: rgb(172 176 179 / 100%);
}
button {
  width: 100%;
  background: blue;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: darkblue;
}

#message {
  color: red;
  margin-top: 10px;
}
