body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

section{
    width: 400px;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#profile{
    display: flex;
    flex-direction: row-reverse;
}

header h2 span{
    border-radius: 8px;
    background-color: #ffbc25;
    padding: 6px;
    color: white;
}
form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form input{
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

form button{
    width: 25%;
    border-radius: 8px;
    background-color: rgb(19, 73, 250);
    color: white;
    border: none;
}

form button:active{
    transform: translateY(4px);
}
main{
    display: flex;
    flex-direction: column;
}

#logOut{
    border-radius: 8px;
    background-color: rgb(19, 73, 250);
    border: none;
    color: white;
    padding: 10px;
    transition: all ease 0.3s;
}

#logOut:hover{
    background-color: rgb(255, 64, 64);
}

li{
    list-style-type: none;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 8px 2px rgba(238, 222, 222, 0.35);
}

li button{
    border-radius: 8px;
    border: none;
    transition: all ease-in 0.3s;
    padding: 5px 10px;
}

li button:hover{
    background-color: rgb(255, 64, 64);
    color: white;
}

#ul{
    align-items: center;
    padding: 0;
    margin: 0;
}